/* Nav bar */
.navbar {
    position: sticky;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(231, 226, 221);
    z-index: 1;
  }
  .navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }

  .navbar-center a {
      text-decoration: none;
      color: #222;
  }
  .nav-icon {
    font-size: 1.5rem;
  }
  .cart-btn {
    position: relative;
    cursor: pointer;
  }
  .cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
  }

  /* End nav bar */

body {
    background: url();
    
}

h1 {
    text-align: center;
    color: darkorange;
}
.container {
    width:53%;
    margin:0 auto;
}

.sub-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 225, 220);
    margin: 0 auto;
    border: 2px solid darkorange;
    border-radius: 5px;
}
  
.sub-container {
    margin: 25px;
    text-align: center;
    font-size: 30px;
}

img {
    float: left;
    width: 100%;
    height: 100%;
}

.item {
    display:grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px 0;
}

.item img{
    margin: 0 30px;
    width:120px;
    height: 150px;;
}

.remove-btn {
    color:rgb(221, 91, 16);
    font-size: 0.8rem;
    text-decoration: none;
    font-size: 20px;
}

.details {
    line-height: 0px;
}

/* footer */
.footer {
    padding: 3em 3em 0;
    background: hsl(0, 0%, 10%);
    color: #FFFCED;
}

@media screen and (min-width: 50em) {
    .footer-widgets {
        -js-display: flex;
        display: flex;
        justify-content: space-between;
    }

    .widget {
        width: 30%;
    }

}

.widget-title {
    font-size: 1.3em;
}



.footer-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-menu a {
    display: block;
    padding-bottom: .5em;
    color: #FFFCED;
    text-decoration: none;
}

.footer-menu a:focus::before,
.footer-menu a:hover::before {
    margin-right: .5em;
    content: "›";
}

.footer-cta a {
    display: block;
    margin-top: 1em;
    padding: 0 .5em;
    font-size: 2em;
    font-weight: 900;
    color: #fffced;
    text-align: center;
    text-decoration: none;
    border: 5px solid #fffced;
}

.footer-cta a:focus,
.footer-cta a:hover {
    background: var(--primaryColor)
}

.social-nav {
    margin: 4em -3em 0;
    padding: 1em 0;
    background: var(--mainGrey)
}

.social-nav ul {
    -js-display: flex;
    display: flex;
    justify-content: center;

    padding: 0;
    list-style-type: none;
}

.social-nav a {
    padding: 1em;
}

.social-nav svg {
    width: 1.4em;
    height: auto;

}

.social-nav path {
    fill: #FFFCED;
}

.social-nav ul li a i {
    font-size: 1.5em;
    color: var(--mainBlack);
}


/* footer */
